# ============================================================
# Smart Campus — Environment Variables
# Copy file này thành .env và điền giá trị thực tế
# ============================================================

# --- HiveMQ MQTT Broker (Chung cho tất cả service) ---
MQTT_BROKER_HOST=f6f78e87db4a4c189dd3d706745a5e93.s1.eu.hivemq.cloud
MQTT_BROKER_PORT=8883
MQTT_WS_PORT=8884

# --- MQTT Credentials cho IoT Ingestion (A1) ---
MQTT_IOT_USERNAME=DVKN_IOT_2026
MQTT_IOT_PASSWORD=ThaiBao12A@

# --- MQTT Credentials cho Access Gate (A3) ---
MQTT_GATE_USERNAME=DVKN2026
MQTT_GATE_PASSWORD=ThaiBao12A@

# --- MQTT Topics ---
TOPIC_RAW_IOT=smart-campus/raw/iot/environment
TOPIC_RAW_ACCESS=smart-campus/raw/access/rfid-uid
TOPIC_EVENTS_SENSOR=smart-campus/events/sensor
TOPIC_EVENTS_ACCESS=smart-campus/events/access
TOPIC_EVENTS_CAMERA=smart-campus/events/camera
TOPIC_EVENTS_CORE_ALERT=smart-campus/events/core-alert

# --- Camera Stream (A2) ---
CAMERA_STREAM_URL=https://camera.labaiotdnu.app/video?key=matkhau_cua_ban

# --- Service Ports ---
IOT_INGESTION_PORT=8001
CAMERA_STREAM_PORT=8002
ACCESS_GATE_PORT=8003
AI_VISION_PORT=8004
ANALYTICS_PORT=8005
ANALYTICS_PUBLIC_PORT=8000
CORE_BUSINESS_PORT=8006
NOTIFICATION_PORT=8007

# --- Service URLs (dùng trong Docker Compose — gọi bằng tên service) ---
AI_VISION_URL=http://ai-vision:8000
ACCESS_GATE_URL=http://access-gate:8000
CORE_BUSINESS_URL=http://core-business:8000
ANALYTICS_URL=http://analytics:8000
NOTIFICATION_URL=http://notification:8000

# --- Auth Token (dùng chung cho dev/demo) ---
AUTH_TOKEN=smart-campus-dev-token-2026
